.done {
    text-decoration: line-through;
    opacity: .5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textTask {
    flex: 1;
}

.deleteTask {
    color: #ff0000;
}

.saveTask {
    display: none;
    margin: 0 5px;
}

.editTask {
    display: none;
    flex: 1;
}

